.list-item-secondary-action {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;

  .list-item-icon {
    margin-right: 0;
  }

  .list-item-button {
    border-radius: 4px;
    padding: 0.15rem 0.5rem;
  }
}
