.layout {
  display: flex;
  height: 100vh;

  &__sidebar {
    border-right: 1px solid rgb(0 0 0 / 6%);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    .list-item {
      padding: 0.25rem;

      .list-item-button {
        width: 40px;
        height: 40px;
        border-radius: 8px;
      }
    }
  }

  &__sidebar-account {
    margin-top: 0.5rem;

    .list-item-button {
      &:hover {
        background-color: inherit;
      }

      &:active {
        background-color: inherit;
      }
    }
  }

  &__content {
    flex-grow: 1;
  }
}
